

body {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
	color: #222222;
}

h1,
h2,
h3,
h4 {
	font-family: "Petit Formal Script", cursive;
}

a {
	color: #0097ff;
	text-decoration: none;
}

a:hover {
	color: #0088e6;
}

img {
	width:100%;
}

.header {
	height: 50px;
	line-height: 50px;
	padding: 20px;
	background-color: #222;
	color: #ffffff;
	font-size: 25px;
	font-family: "Petit Formal Script", cursive;
	text-align: center;
}

.main-content {
	width: 500px;
	margin: 0 auto;
	padding: 20px;
	min-height: 40%;
}

.footer {
	margin-top: 80px;
	border-top: 1px solid #ccc;
	padding: 20px;
}

