html {
  background-color: white;
}

.navigation ul {
  list-style: none;
}

.navigation li {
  margin: 5px 0;
}

li.computer {
  list-style-type: "👩🏻‍💻  ";
}

li.book {
  list-style-type: "📚  ";
}

li.bread {
  list-style-type: "🍞  ";
}

.speaking li {
  margin: 10px 0;
}

#root {
  display: flex;
  justify-content: center;
}

.title {
  text-decoration: none;
}

.bookTitle {
  font-style: italic;
  font-weight: 600;
  margin-bottom: 0;
}

.bookImage {
  width: 100%;
  margin: 20px 0 0 0;
}

.subtitle {
  font-weight: 600;
}

.inlineLink {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.app {
  display: flex;
  flex-direction: column;
  margin: 25px;
  width: 100%;
}

.title {
  font-family: "Playfair Display", cursive;
  color: #3333cc;
}

.navigation {
  font-family: "Playfair Display", cursive;
  display: flex;
}

a.nav-item:nth-of-type(1) {
  margin-left: 0;
}

a.nav-item {
  position: relative;
  text-decoration: none;
  margin-left: 10px;
  color: #050505;
  cursor: pointer;
}

a.nav-item:hover {
  transition: all 0.5s ease-in-out;
}

a.nav-item:hover:before {
  visibility: visible;
  width: 100%;
}

a.nav-item:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #050505;
  height: 1px;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

.social-item {
  margin-left: 10px;
}

.social-item:nth-of-type(1) {
  margin-left: 0;
}

.header {
  display: flex;
  color: #050505;
  width: 100%;
}

.main-content {
  font-family: "Playfair Display";
  display: flex;
}

.headshot {
  width: 100%;
  max-width: 500px;
  margin: 1em 0 0 0;
}

.main-content a {
  color: #000;
}

.text-block-right {
  flex-basis: auto;
  margin: 0 0 0 25px;
}

.text-block-left {
  flex-basis: auto;
  margin: 0 25px 0 0;
}

.small {
  font-size: 20px;
}

/* Phone */
@media only screen and (max-width: 649px) {

  .main-content {
    font-size: 20px;
  }

  .title {
    font-size: 35px;
    padding: 0 0 5px 0;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
  }
  
  .menu {
    margin-bottom: 10px;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .image-block {
    display: none;
  }

  .social {
    margin: 10px 0 0 0;
  }
}

/* Tablet and computer */
@media only screen and (min-width: 650px) {

  .app {
    align-items: center;
    max-width: 650px;
  }

  .main-content {
    font-size: 20px;
    width: 100%;
  }

  .title {
    font-size: 35px;
    padding: 0 0 5px 0;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: flex-end;
  }
  
  .menu {
    margin-right: 0;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .image-block {
    display: none;
  }

  .social {
    margin: 10px 0 0 0;
  }
}